:root {
    --c-bg-pri: white;
    --c-bg-sec: #FEE9E7;
    --c-txt-pri: #F87D6D;
    --c-txt-sec: white;
    --c-txt-dark: #212529;
    --c-txt-light: #FBB2A9;
} 

/*COLORES*/
.bg-pri{
    background-color: var(--c-bg-pri);
}
.bg-sec{
    background-color: var(--c-bg-sec);
}
.txt-pri {
    color: var(--c-txt-pri);
}
.txt-sec{
    color: var(--c-txt-sec);
}
.txt-dark{
    color: var(--c-txt-dark);
}
.txt-light{
    color: var(--c-txt-light);
}


body {
    /*color:white;*/
    font-family: 'Cinzel', serif;
}

.menu {
    background-color:rgba(255,255,255,.9)
}

.cursiva {
    font-family: 'Dancing Script', cursive;
}

.bg1 {
    background-image: linear-gradient(rgba(255, 255, 255, .3),
    rgba(0, 0, 0, 0.7)), url('/img/boda1.jpeg');
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    background-attachment: fixed;
}

.bg2 {
    background-image: linear-gradient(rgba(255, 255, 255, .3),
    rgba(0, 0, 0, 0.7)), url('/img/boda2.jpeg');
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    background-attachment: fixed;
}

a {
    color: var(--c-txt-light);
    transition: all .5s ease;
}
a:hover {
    color: var(--c-txt-pri);
}

.nav-item:hover {
    background-color: var(--c-bg-sec);
    transition: all .6s ease;;
}
